                                     15-MAY-22

                             2nd Class - "Python Basic"

                       "String Variable & String Manipulation"

                             ( V = ineuron )

                         1.V = variable &

                         2.Ineuron = String

                      "String is nothing but a combination of character a multiple character"

( i,n,e,u,r,o,n ) - these are nothing but character.Here are going to extract some of the character from given string(str)

Note :- Always use square bracket to extract the data.

1.Forward Index -01245678 (positive indexes moving forward postitive direction)

2.Backward Index- -8-7-6-5-4-3-2-1 (Negative indexes moving backward direction)

In [21]:
v = "ineuron"

In [22]:
v[0]

'i'

In [23]:
v[5]

'o'

In [24]:
v[-1]

'n'

In [25]:
v1 = "vijay"

In [26]:
v1[-1]

'y'

In [27]:
v1[-2]

'a'

In [28]:
#single couch & Double couch or quote

In [29]:
'this is my very first programming class's''

SyntaxError: invalid syntax (3670825243.py, line 1)

In [30]:
"this is my very first programming class's"

"this is my very first programming class's"

In [31]:
v2 = "this is my very first programming class's"

In [32]:
v2

"this is my very first programming class's"

In [33]:
v2[8]

'm'

#upper Bound - excluding upper bound- start from 1 go till 5 but excluding upper bound so 5 willnot print as a outcome.

In [34]:
v2

"this is my very first programming class's"

In [35]:
v2[1:5]

'his '

In [36]:
v2[6:30]

's my very first programm'

#Here start from 6 go till 30 but but alternative one I am looking over here. I am looking for after 'S' is 1step ahead.

#Start from 6 go till 30 & try to take a jump of 2

In [37]:
v2[6:30:2]

'sm eyfrtporm'

In [38]:
v = "vijaygurung"

In [39]:
v[0:10:2]

'vjyuu'

In [40]:
#In this code there is one difference, As a outcome we will get entire data complete dataset

#Here jump size is equal to 1. By default "0" zero can't be jump size because we have to move.

In [41]:
v[0:11:1]

'vijaygurung'

In [42]:
#Here we have written start from "0" zero & go till 10th positive direction & try to take a jump of -1 towards negative
#direction, because of these it create a contradiction over here.Beacuse of contradiction I am not geeting any dataset.So that
#is the region we are geeting an as outcome blank nothing.

#As a outcome we will receive blank, string so it has forward direction as well as backward direction.

In [43]:
v[0:10:-1]

''

In [44]:
v

'vijaygurung'

In [45]:
v[10:0:-1]

'gnurugyaji'

In [46]:
v[10:0:-2]

'guuyj'

In [47]:
#Here is I have not given starting point.only Given end point.I have also not given jump size.But still I am geeting dataset.

#Because in these scenario my jump size will be (+1). Here from "v" upto "r" only it will print 0 upto -4.

In [48]:
v[:-3]

'vijaygur'

In [49]:
v[-2:]

'ng'

In [50]:
v[::1]

'vijaygurung'

In [51]:
v[::-1]

'gnurugyajiv'

In [52]:
v[0:50:1]

'vijaygurung'

In [53]:
v2

"this is my very first programming class's"

In [54]:
v2[::-1]

"s'ssalc gnimmargorp tsrif yrev ym si siht"

In [55]:
v3 = "ineuron"

In [56]:
v3[-2:-7:1]

''

In [57]:
v3[-7:-2:1]

'ineur'

In [58]:
v

'vijaygurung'

In [59]:
v[5:0]

''

In [60]:
v3[-7:0:1]

''

In [61]:
v

'vijaygurung'

In [62]:
v[:-1:-1]

''

In [63]:
v+1

TypeError: can only concatenate str (not "int") to str

In [64]:
v+"1"

'vijaygurung1'

In [65]:
v + str(1)

'vijaygurung1'

In [66]:
"vijay" + 4567894258

TypeError: can only concatenate str (not "int") to str

In [67]:
v

'vijaygurung'

In [68]:
#Length, Len & Function

In [69]:
len(v)

11

In [70]:
#Multiplication Operation

In [71]:
v*2

'vijaygurungvijaygurung'

In [72]:
#Function

In [73]:
v

'vijaygurung'

                                      Function
    
1.Capitalize

2.Casefold

3.Center

4.count

5.Encode

6.endswitch

7.Expantabs

8.Find

9.Format

10.Format_Map

11.Index

12.isalnum

13.isalpha

14.isascii

15.isdecimal

16.isdigit

17.isidentifier

18.isprintable

19.isspace

20.istitle

21.isupper

22.join

23.Ljust

24.Lower

25.Lstrip

26.Maketrans

27.Partition

28.Replace

29.Rfind

30.Rindex

31.Rjust

32.Rpartition

33.Rsplit 

34.RStrip

35.Split

36.SplitLines

37.StartSwith

38.Strip

39.Swapcase

40.Title

41.Translate

42.Upper

43.Zfill

In [74]:
v

'vijaygurung'

                4."Count" ( If i will call "g" it will check inside string how many times "g" words is there inside string)

In [80]:
v.count("g")

2

In [81]:
v.count("vi")

1

In [82]:
v.count("vir")

0

In [95]:
         #35."Split" ( It will going to give an "List variable". So whatever will come after "g" & inbetween "g" & before "g"
                     #it will going to give that as a seperate data spliting that data from the string(str))

In [85]:
v.split("g")
type(v.split("g"))

list

In [87]:
v.split("g")

['vijay', 'urun', '']

                                             #Single Couch (' ')

In [109]:
sw = 'Samsung Group,[3] or simply Samsung (Korean: 삼성; RR: samseong [samsʌŋ]) (stylized as SΛMSUNG), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues'

SyntaxError: EOL while scanning string literal (2298022151.py, line 1)

                           #Double Couch (" ")

In [110]:
sw = "Samsung Group,[3] or simply Samsung (Korean: 삼성; RR: samseong [samsʌŋ]) (stylized as SΛMSUNG), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues"

SyntaxError: EOL while scanning string literal (2685051439.py, line 1)

In [111]:
#About Single Couch (''), Double Couch (" ") & Triple Couch (""") Couch we will learn Later.

In [112]:
#Question :-  Here we have all this string(str) we have here entire line. 

#Try to give me a "List" of all the words from the below Paragraph.

In [113]:
         #35."Split" ( 1.It will going to give an "List variable". So whatever will come after "g" & inbetween "g" & before "g"
                     #it will going to give that as a seperate data spliting that data from the string(str))
        
        #Definition :-  Return a list of the words in the string, using separater as the delimeter string.
        # IF I will call split operation if i will execute it I will get a list of all the words one by one

In [114]:
sw = ("Samsung Group,[3] or simply Samsung (Korean: 삼성; RR: samseong [samsʌŋ]) (stylized as SΛMSUNG), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea")

In [115]:
sw.split(' ')

['Samsung',
 'Group,[3]',
 'or',
 'simply',
 'Samsung',
 '(Korean:',
 '삼성;',
 'RR:',
 'samseong',
 '[samsʌŋ])',
 '(stylized',
 'as',
 'SΛMSUNG),',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea']

In [117]:
#Note :-  If we use "single Couch" , "Double Couch" it will not work because when it come to like whole paragraph Big
#Line sentences then at that time single & Double couch did not work. We have to use Triple Couch for long paragraph senences.

In [119]:
#Note :-

#Questions :

#1. can you please try to remove all the unnecessary character a data cleaning operation.

#2.Can you please give me a count of it.

#3.Can you please try to convert every thing into a "upper Cases"or "Lower Cases".So I will be able to normalized dataset.

#4.Can you please try to remove all the character which is not English character or those symbols @,*,%<, >, [1] etc

#5. Can you please remove all these Punctuation mark from the dataset. Punctuation marks like Coma (,) Full stop (.)
    # all those things available.

                                       #42."UPPER CASES"  
    
    #( Upper case what it will do it will convert all sentences into a Capital Letter)
    
    Sw = "Variable"
    Upper =  "Function"

In [125]:
sw

'Samsung Group,[3] or simply Samsung (Korean: 삼성; RR: samseong [samsʌŋ]) (stylized as SΛMSUNG), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea'

In [126]:
sw.upper()

'SAMSUNG GROUP,[3] OR SIMPLY SAMSUNG (KOREAN: 삼성; RR: SAMSEONG [SAMSɅŊ]) (STYLIZED AS SΛMSUNG), IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA'

In [130]:
# Upper Cases Reassignment 
# If i have to write my entire string (str) that case I would like to store this entire converted string in that case
#we can do a reassignment. Because here I am going to write sw = equal is used for the reassignment operation.
#If I have to assign my orginal variable with a new variable which is a upper case that case I would like to call.

                # sw = sw.upper()

In [131]:
sw = sw.upper()

In [132]:
sw

'SAMSUNG GROUP,[3] OR SIMPLY SAMSUNG (KOREAN: 삼성; RR: SAMSEONG [SAMSɅŊ]) (STYLIZED AS SΛMSUNG), IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA'

                          24.Lower Cases 
    
#If I would like to convert everything into a lower case or Lower sentences there is a function call "Lower"

In [136]:
sw.lower()

'samsung group,[3] or simply samsung (korean: 삼성; rr: samseong [samsʌŋ]) (stylized as sλmsung), is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea'

In [148]:
                              #40.Title 
    
#If we use "Title Function" then our 1st letter of sentences will be in capital letter or upper case 

#Example: "vijay" then if we call "Title Function" then my very 1st letter "V" will be Capital letter & rest letter will be smal

#So its convert into # "Vijay"

In [149]:
v = "vijay"

In [150]:
v.title()

'Vijay'

In [151]:
                               #1.Capitalize
    
#Capital Function - Capital function if we call then we will get same output as it is in "Title function".

#whenver we call "Capitalize Function" my very 1st letter is going to be a upper case or Capital letter.

In [152]:
v =  "vijay"

In [153]:
v.capitalize()

'Vijay'

In [154]:
# Note :- "TITLE & CAPITALIZE FUNCTION" Gives us same outcome as a very 1st letter in Capital letter.

In [156]:
                                #39.Swapcase
    
#Swapcase FUnction :- Upper cases or Capital Letters converted into a Lower Cases or Small Letter character / & 
# Lower Cases or Small Letter Convert into Upper Cases/Capital Letter.

In [157]:
v =  "Vijay guRunG"

In [158]:
v.swapcase()

'vIJAY GUrUNg'

In [168]:
                                   #22. Reversed & join Function    
    
# Reversed Function :-  Reversed is going to reversed our entire string (Str) this is what reversed does.

#If we run code we did not see the outcome Because, basically Reversed always return an outcome an "Object".

# of that particular Function. If we want to see outcome of reversed Function then we have to c call "Join" Function.
# The only thing is that "Reversed Function" always return an object.We have done here is "Join Operation".

#' '.join this line code we have perform a "blank" on "join operation".

In [169]:
v = "Vijay guRuNG"

In [170]:
reversed(v)

In [171]:
' '.join(reversed(v))

'G N u R u g   y a j i V'

In [185]:
                               #38.Strip

#Strip Functon :- Here in these code, we can see inside string code a space before "vijay" string & after space of "Vijay".

#If you want to remove that space between "Vijay" after & before space that case we will use "Strip Function".

#Strip always try to strip of space which is available before & after string.

# "Strip Function" - IF we have space on left hand side as well as right hand side. If we want to remove both then, I will 
#Just call Strip()

In [186]:
v =  "   vijay  "

In [187]:
v.strip()

'vijay'

In [188]:
v = "   Vi  jay  "

In [189]:
v.strip()

'Vi  jay'

In [190]:
                                 #25.Lstrip & 34.RStrip
    
# 1.LStrip Function :-
#If i a going to call "Lstrip" Function. we can that from left hand side whatever space we have. It will going to strip that
#part. But the right Hand Side space it will be not remove it remain same as it is.
#"LStrip" only remove space of left side not right side.

# 2.Rstrip Fuction :-

# If I am going to call a "Rstrip" then it will going to remove space from right hand side.It will not going to remove
#left Hand side , it will only remove right hand side.

In [191]:
v

'   Vi  jay  '

In [192]:
v.lstrip()

'Vi  jay  '

In [193]:
v.rstrip()

'   Vi  jay'

In [200]:
                                     # "Join Function "
    
    
# If we have to join something, so with the help of [ space ("  ").join ] & I can try to call"vijaygurung" string.
# Here a outcome we can see that joined that "vijaygurung" & it joined this particular space. ("  ").With each &
#ever Character.

# Lets suppose I would like to put some character over here instead of space.This time we put letter "a"
# As a outcome we can see over here is that, after every character it has joined letter "a"

In [201]:
v = "Vijaygurung"

In [202]:
"  ".join("vijaygurung")

'v  i  j  a  y  g  u  r  u  n  g'

In [203]:
v =  "vijaygurung"

In [204]:
"a".join("vijaygurung")

'vaiajaaayagauarauanag'

In [208]:
                             #3.Center Function
    

# If i a having a string v = "vijay" If am going call "center Function".It take 2 parameter.
    
# 1. Width
# 2. Character

#1. Width (z) :-
# If I am going to give 20. 20 is nothing but reserved space.
#So it will going to reserved 20 space & then I can try to call basically reversed all of these with "Z"

# It will going to reserved 20 number of space. In center it will try to put particular string "Vijay".

#2. Charater (# ) :-

# Here also whatever data, I am going to place it is going to fill all these space with that particular character.

In [209]:
v =  "vijay"

In [210]:
v.center(20,"z")

'zzzzzzzvijayzzzzzzzz'

In [211]:
v = "vijay"

In [212]:
v.center(20, "#")

'#######vijay########'

In [3]:
                       # Is - Function
    
#With respect to string(str) there is many function which is available in the string (Str)

#Here whatever function available with "IS" they are going to return  "True or False".
#So, It is going to check it is available in Upper case or Lower case Alphabetic, numeric all shot of things it will going
# to check.

# "IS" is the function which is going to start with "IS" bydefault it is going to return whether "True or False".

# We can say a boolean Value at any point of the time.

                            #IS - Function
    
1.IsAlnum

2.IsAlpha

3.IsAscii

4.IsDecimal

5.IsDigit

6.IsIdentifier

7.IsLower

8.IsNumeric

9.IsPrintable

10.IsSpace

11.IsTitle

12.IsUpper

In [5]:
v = "Vijaygurung"

In [15]:
                                     #12.IsUpper
                                      
#IsUpper - Return "True" is the string is an UpperCase string, "False" otherwise.

# Yes, my string "Vijaygurung" is not available in a Uppercase, my all the characters are not available in uppercase.

#Only "V" starting letter or character is in the upper case not all in Uppercase it will going to give me an "Fasle" outcome.


# "GURUNG" here giving me "TRUE" because my all character are available in Capital Letter, not a single character are in 
# Not a single character are in Lower case in these case, It will give me an "True" statement.

In [9]:
v.isupper()

False

In [12]:
v1 = "GURUNG"

In [13]:
v1.isupper()

True

In [16]:
                                    #7.IsLower
    
#IsLower case - Return "True" is the string is an LowerCase string, "False" otherwise.


# Yes, my string "Vijaygurung" is not available in a Lowercase, my all the characters are not available in Lowercase.

#We can see here that "Vijaygurung" "V" is only Capital others are rest words are in the lowercase, Because of that my 
# my outcome will be "False"

#gurung" here giving me "TRUE" because my all character are available in Small Letter, 
# Not a single character are in Upper case in these case, It will give me an "True" statement.

In [17]:
v = "Vijaygurung"

In [18]:
v.islower()

False

In [22]:
v2 = "gurung"

In [24]:
v2.islower()

True

In [30]:
                                            #10.IsSpace 

# ISSpace -  Return "True" if the string is a WhiteSpace in the string , "False" otherwise.

# We have "V = Vijaygurung" If I am calling "V.Isspace()", it will going to give me an "False".

#Is this string V.isspace is a space string (str).So, its  not in the space function.

# A string is whitespace if all character in the string are whitespace and there is atleast one characters in the string.

#Lets create V4 is "space" ,if I am going to call it will going to give me "True".

# Yes, this is string but "blank" one, Basically it available with "complete Space".

In [26]:
V =  "Vijaygurung"

In [27]:
v.isspace()

False

In [28]:
v4 = "   "

In [29]:
v4.isspace()

True

In [45]:
                              #5.IsDigit
    
# ISDigit -  Return "True" if the string is a digit, False otherwise.

# If my string is "Vijaygurung"  if I am calling "Isdigit" my outcome will be "False".

#Because, it is not available in digit form. So, That is why my outcome will be the "False"

#If I am giving "integer" in the digit "3456" form instead of "string",then my outcome will be "True".

# If we have both "Numeric as well as digit "pqr3456". My outcome will be 'False', Because it is not on the complete digit
#not a complete String.

#So, "Digit" always going to check for the digit one.

In [39]:
v = "Vijaygurung"

In [40]:
v.isdigit()

False

In [41]:
v5 = "3456"

In [42]:
v5.isdigit()

True

In [43]:
v6 =  "Pqr3456"

In [44]:
v6.isdigit()

False

In [53]:
                                   #1.IsAlnum Function & 2.IsAlpha
    
#1.IsAlnum / "AlphaNumeric" Function  & 2. IsAlpha - "Alpha" 

#If I am going to call Alnum or AlphaNumeric means combination of both "Alpha & Numeric".

# "Alpha Numeric" always check for either "Alpha or Numeric".It always apply "or Condition".

#In these code " Vijaygurung" we can see that "Alpha" is available but numeric is not available, but anyone is available
# then  outcome will be "True"

#   V7 = "345345sgfdg" Here we have "345345sgfdg" string we have taken, If I am going to check V7.Isalpha()

# My outcome will be "False" Because, we are just checking for "Alpha" "V7.Isalpha" but in our string we have both 

# Appha as well as Numeric character.That case my outcome will be "False"

In [54]:
v =  "Vijaygurung"

In [55]:
v.isalnum()

True

In [56]:
v = "Vijaygurung"

In [57]:
v.isalpha()

True

In [58]:
v7 = "345345sgfdg"

In [59]:
v7.isalpha()

False

In [65]:
                           #37.StartSwith Function
    
# Here 1st I am trying to check "V.Startswith" with ("i"), my outcome is "False", my 1st "Vijaygurung"  string 1st letter 

#start with letter "V" , but I am calling ("i"), so its a "False".

#Here now I am trying to call with Letter ("v") but then also, I am geeting an Error, Because here I am trying to check with 

#small letter "v". But my starting 1st Letter of "Vijaygurung" is Capital letter, That is why "False" outcome.

# In these Time,if we call StartSwith("V").My outome is "True", Because my starting 1st Letter of 'Vijaygurung' is

#capital letter  "V".

In [66]:
v = "Vijaygurung"

In [67]:
v.startswith("i")

False

In [68]:
v.startswith("v")

False

In [69]:
v.startswith("V")

True

In [11]:
                               #6.endswitch Function
    
# Here I am trying to check "U". Here I am trying to check "endwith" with "U".

#If we execute it we get "False" because my string Str "Vijaygurung" endswith letter "g". But I am saying endswith "u".
#That is the region geeting an Error.

# same case this time if I say endswith with "g". That is "True" so I am geeting "True" outcome.

In [12]:
v = "vijaygurung"

In [13]:
v.endswith("u")

False

In [14]:
v.endswith("g")

True

In [20]:
                               #"IS Function"  - ( "5.IsDigit" ) & ( "8.IsNumeric")
    
#ISDigit & IsNumeric Difference between.

#IsDigit :- Return "True" if the string is a digit string, False otherwise.

# -> A string is a digit string if all character in the string are digits & there is at least one digits & there is atleast 
# one character in the string.

#IsDigit :- Retrn "True" if the string is a Numeric string, False Otherwise.

#-> A string is Numeric if all character in the string are Numeric & there is atleast one character in the string.

In [23]:
v = "vijaygurung"

In [31]:
v.isdigit()

False

In [33]:
v = "453443"

In [34]:
v.isdigit()

True

In [26]:
v = "vijaygurung"

In [27]:
v.isnumeric()

False

In [35]:
v1 = "fast3456732"

In [36]:
v1.isnumeric()

False

In [37]:
v2 = "345435"

In [38]:
v2.isnumeric()

True

In [39]:
v.isnumeric()

True

In [49]:
                                      # 7.Expantabs Function
    
#Expandtabs - Here inbetween we have a Tab(t), these is something we have inbetween. & then (\t Tab) is nothing but it 
#Equvalent to 3 spaces that we can do help of "ExpandTabs"

In [50]:
v = "vijay\ gurung \ ineuron"

In [51]:
v.expandtabs()

'vijay\\ gurung \\ ineuron'

In [52]:
v = "vijay\tgurung \tineuron"

In [53]:
v.expandtabs()

'vijay   gurung  ineuron'

In [30]:
                          #"IS Function"  ( "3.IsAscii ")
    
#ISAscii -  ( Return "True" if Characters in the string are "ASCII", False Otherwise)
#ASCII -  characters have code points in the range U+ 0000-U+007F.

#Empty string is ASCII too.

# Whatever we are trying to type its a "Ascii" for better undersatand Google it.

#Every single string or character which is available which we can see in our keyboard,that will be going to be a "ASCII".