                               #21-MAY-22

                         3nd Class - "Python"
        
                        
                                1.LIST

                                2.TUPLES

                                3.DICTIONARY

                                4.SET

                                   1.LIST

In [2]:
# List is very very similar to a string that we have discussed in some way.

#Example - Slicing operation, index wise & data extration wise etc alomost same but interm of holding a data a "List"

#"LIST" is little bit difference as compared to "string" lets understand.

# We can try to store any kind of dataset inside list "LIST". we can even store "LIST" inside "LIST" and many more component

# inside single element itself.

# In "LIST" we can try to go "List" in a forward direction as well as in a "Backward Direction" depend upon requiredment.

#We have dicussed about "SCALING CONCEPT" right hand side as well as Left Hand side. Same thing applicable over here in "LIST".

In [117]:
l = [1,2,3,4,5, "vijay",45.67, True]

In [118]:
l[0]

1

In [119]:
l[-1]

True

In [120]:
# "LEN Function"

# It help us to find how many elements are available inside a "LIST" & with help of it we can to know Total 8 element are

# Available inside elements.

In [121]:
l = [1,2,3,4,5, "vijay",45.67, True]

In [122]:
len(l)

8

In [123]:
                            #"LIST Slicing Operation"
    
# Here I am trying to say start from "0" & go till index "5". This is nothing but  "LIST SLICING OPERATION". Start from 

#(-1) and go till (-5) index same came be done. Same process for both Forward direction & backward direction.

#we have written starting point & end point always upper bound going to be Excluded.

In [124]:
l = [1,2,3,4,5, "vijay",45.67, True]

In [125]:
l[0:5]

[1, 2, 3, 4, 5]

In [126]:
                                  # "REVERSED OPERATION" 
    
# 1st code Explain :- By using [::-1] I can reversed entire list. But it is not going to alter the actual one it is unless &
#untill we did not going to do a "Reassignment Operation".

# 2nd line code :- we have list & we are trying to do starting from "0" & go till 100 But here we can see 100 is not
#available [0:100].

#But after execute it not giving any Error because incase of "SLICING OPERATION". But Incase of "INDEX OPERATION" it is going 

#to give me an error.We know that "100" is not available but still it will perform some short of operation.

#3rd Line Code :- L[0:100:2]

#Incase of Slicing operation it always takes a "upper bound", it takes "Lower Bound" & take a Jumps size or step Size.

#"0" = Is my "Lower Bound"

#"100" = Is my Upper Bound &

# "2" = Is my step size which I have mention in this particular place.

# Once we execute it we are able to extract a dataset one by one.

In [127]:
l = [1,2,3,4,5, "vijay",45.67,True]

In [128]:
l[::-1]

[True, 45.67, 'vijay', 5, 4, 3, 2, 1]

In [129]:
l[0:100]

[1, 2, 3, 4, 5, 'vijay', 45.67, True]

In [130]:
l[0:100:2]

[1, 3, 5, 45.67]

In [131]:
# 1st Line code :-

#Below Code why we are getting an Error, because the region is simple we are saying start from "0" go till "8" &

# Take a Jump of -1 in a negative direction. Simple because of "CONTRADICTION" it is not going to give me an any outcome.

#2nd Line code :-

#It is going to take "upper Bound" as a "Initial Point". So, "upper Bound" is "0" zero. It will try to start frm "0" & try to

#go till "3" because my "Upper Bound" So whatever elements are avavilable at "0" index extract & give it to us.

In [132]:
l = [1,2,3,4,5, "vijay",45.67,True]

In [133]:
l[0:8:-1]

[]

In [134]:
l[:3]

[1, 2, 3]

In [135]:
# 1st Line Code :-

# "L" is This is having datatype of "LIST" & "VIJAY" - This is having datatype of "STRING".

# If we have datatype mismatched in that case for sure it is going to perform "Concatenate Operation" & it is going to give
# me an "Error"

# 2nd Line Code :-

# This case what we suppose to do if we "RAP" this inside a "LIST" & then if we going to perform this operation then

# YES it is able to perform a "Concatenation Operation". 

# Note :-  DataType should be same otherwise it is going to give me an issue.

In [136]:
l = [1,2,3,4,5, "vijay",45.67,True]

In [137]:
l + "vijay"

TypeError: can only concatenate list (not "str") to list

In [138]:
l + ["vijay"]

[1, 2, 3, 4, 5, 'vijay', 45.67, True, 'vijay']

In [139]:
# 1st Line code :-

# Multiply 2 with "LIST" as a outcome it will double the element.

# 2nd Line Code :-

# If we have a "LIST" & we have search something inside it  "60 in L". It will give me "False"

# ere "IN" is an Operator which is going to search across a entire "LIST".

#If data is available inside a Particular "LIST" then, it is going to give a "TRUE" otherwise it is going to give me a "FALSE"

#3rdLine Code :-

# IF we give "2 in L" it is "True" statement because "2" is available inside my "LIST" its a part of "LIST".

In [140]:
l*2

[1, 2, 3, 4, 5, 'vijay', 45.67, True, 1, 2, 3, 4, 5, 'vijay', 45.67, True]

In [141]:
l

[1, 2, 3, 4, 5, 'vijay', 45.67, True]

In [142]:
60 in l

False

In [143]:
2 in l

True

In [144]:
                   #"MAX ( MAXIMUM ) & MIN ( MINIMUM )"
    
# 1st Line code :-

# Here we got an Error because of we can see here mixed up DataType ( "integer , Boolen Variable "String" etc) because of that
#so the operation going to compaarison exach & every element inside a "List". So it is not able to do comparison with

# "Str & Int" As because these are different different datatype.

# 2nd Line Code :-

# Here this line code we can completely understand incase of numeric value that Maximum is "6".

# 3rd Line Code :-

# In case of String still giving me outcome as a max "VIJAY". why Because of outcome giving me on the basis of 

# "Alphabetical Order" So, whatever alphabetical order we are going to follow so basis on that it is going to give me an MAX.

In [145]:
l

[1, 2, 3, 4, 5, 'vijay', 45.67, True]

In [146]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [147]:
l1 = [3,4,5,6,6]

In [148]:
max(l1)

6

In [149]:
l2 = ["vijay", "iNeuron" , "gurung"]

In [150]:
max(l2)

'vijay'

In [151]:
                                  #"MIN ( MINIMUM )"
    
# 1st Line code :-

# Here we can see Min is 3.

# 2nd Line code :-

# Here we are receving outcome as a "iNeruron" as a outcome because of "Alphabetical Order" Unfortunanality current geeting 

#outcome as a 'gurung' cross check.

In [152]:
l

[1, 2, 3, 4, 5, 'vijay', 45.67, True]

In [153]:
l1 = [3,4,5,6,6]

In [154]:
min(l1)

3

In [155]:
l2 = ["vijay","iNeuron","gurung"]

In [156]:
min(l2)

'gurung'

In [157]:
                           # "LIST" - FUNCTION
    
# Below we have inbuild function which is availale, we are going to utilized it one by one.

1.Append

2.Clear

3.Copy

4.Count

5.Extend

6.Index

7.Insert

8.Pop

9.Remove

10.Reverse

11.Sort

12.Count

In [158]:
l = [1,2,3,4,5, "vijay",45.67,True]

In [159]:
                                         # 1.Append - Funtion
    
# Definition :-  "APPEND" - Append object to the end of the "List"

# So, I am going to "APPEND" a "List" as well. I am going to pass another "LIST" inside these operation [1,2,3,4]

#As a outcome we can see it "Append" "List" inside "List". So whatever elementsI am going to pass inside a "APPEND"

# that particular element at the end of the existing "List" that we have.

# Here in this code I have APPEND "string" inside "List opeartion as a "gurung" & I have APPEND List operation inside "List"

# as [1,2,3,4] "APPEND" ( "LIST inside LIST") at the end.

In [160]:
l = [1,2,3,4,5, "vijay",45.67,True]

In [161]:
l.append("gurung")

In [162]:
l

[1, 2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [163]:
[1, 2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

[1, 2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [164]:
l.append([1,2,3,4])

In [165]:
l

[1, 2, 3, 4, 5, 'vijay', 45.67, True, 'gurung', [1, 2, 3, 4]]

In [166]:
                                        # 8.Pop  - Funtion
    
# POP :- Definition :- If we does not mention any index inside "POP" () then automatically or bydefault it start removing data
#from very Last index.

# IF we mention index number "pop"( 0, 1 or 2 anything ) it start removing or delete that mention data from "LIST".

In [167]:
l = [1, 2, 3, 4, 5, 'vijay', 45.67, True, 'gurung', [1, 2, 3, 4]]

In [168]:
l

[1, 2, 3, 4, 5, 'vijay', 45.67, True, 'gurung', [1, 2, 3, 4]]

In [169]:
l.pop()

[1, 2, 3, 4]

In [170]:
l

[1, 2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [171]:
l.pop(0)

1

In [172]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [173]:
                                     #10.Reverse Function
    
# Reverse :-  Deifinition :- Difference between Both "Reverse" -  1.L.reverse() and 2. [::-1]

#1.L.reverse() -  when we call this reverse function it permanently it is going to changeses.Reverse function always try to 

# reverse operation permanently in a particular "LIST" element which we have.

#2. [::-1] - Here it is try to reverse operation in a run time so that the region it is going to do a reversed opeartion

# permanently, it is not going to changes anything in my existing"List" or existing variable.

In [174]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [175]:
l.reverse()

In [176]:
l

['gurung', True, 45.67, 'vijay', 5, 4, 3, 2]

In [177]:
l = [2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [178]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [179]:
l[::-1]

['gurung', True, 45.67, 'vijay', 5, 4, 3, 2]

In [180]:
                                 #11.Sort Function
    
#Sort :-  "Sort" the List in Ascending order & return None.

#Here if we are tying to perform a "Sort Operation" with respect to this existing "List" it will not work it will give me

#some sort of Error.

#Here I am not able to comparison between "str" & "int". Same issue we have faced with "MAX & MIN"

# If we would like to perform some short operation where we are loking for each & every things in ascending order & 

# Decending order. "Yes" we can do that with the help of Short operation.

# Note :- 
 
# L3 = [8,98,34,23,1,0] "List " we have Here this code we have done "Ascending order & Decending Order" sorted.

# FOr Asscending order - ( L3.sort() ) /  For Decending Order - ( L3.sort(reverse = True) )

In [181]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [182]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [183]:
l1

[3, 4, 5, 6, 6]

In [184]:
l1.sort()

In [185]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [186]:
l3 = [8,98,34,23,1,0]

In [187]:
l3.sort()

In [188]:
l3

[0, 1, 8, 23, 34, 98]

In [189]:
l3.sort(reverse = True)

In [190]:
l3

[98, 34, 23, 8, 1, 0]

In [191]:
                                  #"LIST inside "LIST"
    
# Yes we can hold entire List in a Single "LIST"  As many as List in one Single "LIST"

#1. [2, 3, 4] = 0

#2. [6, 7, 8] = 1

#3. [3, 2, 4] = 2

In [192]:
l1 = [2,3,4]
l2 = [6,7,8]
l3 = [3,2,4]

In [193]:
l4 = [l1,l2,l3]

In [194]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [195]:
# Question :-  Here Let's suppose question is extract the 2 from the "LIST". [[2, 3, 4], [6, 7, 8], [3, 2, 4]].

# To do these task we have to do " Indexing Operation " to extract this 2 from this List.

In [196]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [197]:
l4[2]

[3, 2, 4]

In [198]:
# Question :- Now extract the 2 from these Line code List [3, 2, 4] Same method [1] bacause ( [3,2,4] 0,1,2 )

In [199]:
l4[2]

[3, 2, 4]

In [200]:
l4[2][1]

2

In [208]:
                                     #12.Count - Function
    
# What count does is that.If we call count operation does let suppose I am going to call count (2) So it will going to check

# the whole "LIST"  how many times 2 is available so total 1 times 2 is available.So my outcome is 1.

#l5 = [3,4,5,3,3,3] this line code how many times 3 available count (3). So 4 times 3 available.

In [209]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [210]:
l.count(2)

1

In [211]:
l5 = [3,4,5,3,3,3]

In [212]:
l5.count(3)

4

In [217]:
                                      #1.Append - Function
    
# In these "Append" operation we can see we called "Append" operation what it does is that it added that new word

# Or It going to "Append" data at the end of the "LIST"

In [214]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung']

In [215]:
l.append("Ineuron")

In [216]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung', 'Ineuron']

In [218]:
l.append([4,5,6,"vijay"])

In [219]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung', 'Ineuron', [4, 5, 6, 'vijay']]

In [220]:
                                   #5.Extend - Function

In [221]:
l

[2, 3, 4, 5, 'vijay', 45.67, True, 'gurung', 'Ineuron', [4, 5, 6, 'vijay']]

In [222]:
l.extend("vijay")

In [223]:
l

[2,
 3,
 4,
 5,
 'vijay',
 45.67,
 True,
 'gurung',
 'Ineuron',
 [4, 5, 6, 'vijay'],
 'v',
 'i',
 'j',
 'a',
 'y']

In [240]:
                  # Difference between "Append" & "Extend" 
    
# "List" element [4,5,6]

# "String" Element ["vijay"]

# Extend if I will write Extend(45) then it will give me "Error" because I am trying to pass single element (45). I am not able

# to add these particular element inside a existing one.

# [1, 2, 3, [4, 5, 6]] Here this code where I have "Append" a "List" [4,5,6]

# [ 56, 34, 21] - this code I am trying to perform a "Extend Operation". Similar to "Append" operation where I am trying

# to insert a dataset into my existing "List"


                                        # "APPEND"
    
# If it is integer(int) it will try to "Append" as a integer.
                      #If it is a "String" it is try to "Append" as a String.This is what "Append" does.
    
    
                                        # "EXTEND"
        
# Extend will try to 1st of all unwrap the "List" one by one, it will try to take out the dataset. ([56,34,21]).

# 1st of all it will try to take out "56" added, then it will try to take out "34" added, then t will try to take out "21" added

#So, it will not going to add entire ([56,34,21]) "LIST"

# But it will going to add "List" element in these particular case.

# In "Extend Operation" if we want to extract "vijay" then internally it will extract "v" & then "i" then "j" then "a"

# "y" this way it will going to perform internally.

In [229]:
l6 = [1,2,3]

In [231]:
l6.append([4,5,6])

In [232]:
l6

[1, 2, 3, [4, 5, 6]]

In [233]:
l6.append("vijay")

In [234]:
l6

[1, 2, 3, [4, 5, 6], 'vijay']

In [235]:
l6.extend(45)

TypeError: 'int' object is not iterable

In [236]:
l6.append(45)

In [237]:
l6

[1, 2, 3, [4, 5, 6], 'vijay', 45]

In [238]:
l6.extend([56,34,21])

In [239]:
l6

[1, 2, 3, [4, 5, 6], 'vijay', 45, 56, 34, 21]

In [241]:
                                       #6.Index - Function
    
# "INDEX" - Here it let support I called index(6) it will check where is index(6) is available at 

 #0,1,2,3,4,5,6,7
 #1,2,3,4,55,6,6,7


#Note :-  Let suppose "1" is available multiple timess in that case it will always try to return index of the very first

#occurance it is not going to return index of all the occurance which is available inside my dataset.

# L7 = [1,2,3,1,55,6,1,6,17]

In [242]:
l7 = [1,2,3,4,5,5,6,6,7]

In [243]:
l7.index(1)

0

In [244]:
l7 = [1,2,3,4,55,6,6,7]

In [245]:
l7.index(6)

5

In [246]:
l7 = [1,2,3,1,55,6,1,6,17]

In [247]:
l7.index(1)

0

In [248]:
                                          #7.Insert - Function
    
# insert Operation - 

# Insert will going to asked question is that 

# where you would like to insert

# What you would like to insert. These are two things that we can pass inside the "Insert".

# Let suppose I have a "List" [1,2,3,4,5,45]. I would like to insert some of the data inbetween [1_2_3_4_5].Yes this is 

# Possible with the help of "Insert operation".We can insert dataset wherever we want with help of "Insert".

# With the help of "Append" operation It is not possible, beacuse "Append" always going to add dataset at the end.

In [250]:
l = [1,2,3,4,5]

In [251]:
l.append(45)

In [253]:
l

[1, 2, 3, 4, 5, 45]

In [254]:
l.insert(1,[1,2,34])

In [255]:
l

[1, [1, 2, 34], 2, 3, 4, 5, 45]

In [256]:
l.insert(5,"vijay")

In [257]:
l

[1, [1, 2, 34], 2, 3, 4, 'vijay', 5, 45]

In [266]:
                                     #8.Pop - Function
    
# PoP - Remove and return item at index (default Last).

# Raises Index Error If List is empty or index is out of range.

# Pop Operation, It is going to Pop up the dataset or it is going to remove / delete the data from a particular indexes.

# or may be from the last one.

# Let suppose I have not given any index   L.pop() blank then it will start remove from last, if given then like

# Pop(2) or some dataset name then It will remove that data from "List"

In [260]:
l

[1, [1, 2, 34], 2, 3, 4, 'vijay', 5, 45]

In [261]:
l.pop()

45

In [262]:
l

[1, [1, 2, 34], 2, 3, 4, 'vijay', 5]

In [263]:
l.pop(2)

2

In [264]:
l

[1, [1, 2, 34], 3, 4, 'vijay', 5]

In [274]:
                                  #9.Remove Function
    
# Remove Function -  Let suppose I am calling L.remove(100) But 100 is not available so that is why giving an Error.

# But If I will say L.remove(4) or any dataset name i would like to remove from dataset it will remove it.


# POP :-  Pop always try to perform an operation based on indexes. So, whatever indexes we are going to give base on that
          # it is going to work.
    
# Remove Operation :-  It is going to work on bases of "value" or element which is available inside my dataset, so it is

# going to work based on that.

In [268]:
l

[1, [1, 2, 34], 3, 4, 'vijay', 5]

In [269]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [270]:
l.remove(4)

In [271]:
l

[1, [1, 2, 34], 3, 'vijay', 5]

In [272]:
l.remove(3)

In [273]:
l

[1, [1, 2, 34], 'vijay', 5]

In [277]:
                        # Note :-  "Item Rearrangement Operation"
    
# 1."Item Rearrangement Operation" with "Integer."

# 2."Item Rearrangement Operation" with "String"

# from where I would like to extract data I can do that.

# Index "2" just try to replace "3" with "vijay" yes it is possible with the help of "Rearrangement Operation".

# Here we can say that we have just reassign a value.

#'string' object does not support item assignment that is why v[2] = "z" code is "Error" outcome.

In [288]:
l = [1,2,3,4]

In [289]:
l[2]

3

In [290]:
l = [1,2,3,4]

In [291]:
l[2] = "vijay"

In [292]:
l

[1, 2, 'vijay', 4]

In [293]:
v = "iNeuron"

In [294]:
v[2]

'e'

In [283]:
v[2] = "z"

TypeError: 'str' object does not support item assignment

In [298]:
                                          # 2.TUPLES #

In [4]:
t = (4,5,6,7,"vijay",45.67,True)

In [5]:
type(t)

tuple

In [6]:
t[0]

4

In [7]:
t[0:4]

(4, 5, 6, 7)

In [8]:
t[-1]

True

In [9]:
t[0:6:2]

(4, 6, 'vijay')

In [10]:
t[0:4:-1]

()

In [22]:
                #"Item Reassigment Operation in Tuples v/s List"
    
# why we got an Error at "Tuples" because "Tuples" object does not support item assignment

# Basically "Tuples" are Immutable element 

# In "Tuples" there are only 2 Function available 

#1.Count - Count operation it just to give us a number of occurance of an element inside a "Tuples"

#2.Index - Index operation always try to give us index of very 1st occurance.

In [11]:
l = [1,2,3,456,78]

In [12]:
l[2]

3

In [13]:
l[2] = "gurung"

In [14]:
l

[1, 2, 'gurung', 456, 78]

In [15]:
t

(4, 5, 6, 7, 'vijay', 45.67, True)

In [16]:
t[2]

6

In [17]:
t[2] = "vijay"

TypeError: 'tuple' object does not support item assignment

In [18]:
t1 = (3,4,5,6)

In [19]:
t

(4, 5, 6, 7, 'vijay', 45.67, True)

In [20]:
t+t1

(4, 5, 6, 7, 'vijay', 45.67, True, 3, 4, 5, 6)

In [21]:
t.count(3)

0

In [22]:
t.count(4)

1

In [23]:
t

(4, 5, 6, 7, 'vijay', 45.67, True)

In [24]:
t

(4, 5, 6, 7, 'vijay', 45.67, True)

In [26]:
                  #"Tuples to List"  & "List to Tuples"

In [27]:
t = (3,4,5,6,7,"vijay")

In [28]:
list(t)

[3, 4, 5, 6, 7, 'vijay']

In [30]:
t2 = [3,4,5,6,7,"vijay"]

In [32]:
tuple(t2)

(3, 4, 5, 6, 7, 'vijay')

In [33]:
                                # Dictionary

In [34]:
d = {}

In [35]:
type(d)

dict

In [36]:
d1 = {1}

In [37]:
type(d1)

set

In [38]:
d2 = {"key1": "value",234:"xyz","name":"vijay","no": 34324345}

In [39]:
type(d2)

dict

In [40]:
d3 = {"name":"vijay","tech":["python","Ml","DL","NLP","CV","Bigdata","data anlytics"]}

In [41]:
d3

{'name': 'vijay',
 'tech': ['python', 'Ml', 'DL', 'NLP', 'CV', 'Bigdata', 'data anlytics']}

In [42]:
d3["tech"]

['python', 'Ml', 'DL', 'NLP', 'CV', 'Bigdata', 'data anlytics']

In [44]:
"python" in d3["tech"]

True

In [45]:
d4 = {"name":"ineuron","contact_info": 345345,"name":"vijay"}

In [46]:
d4

{'name': 'vijay', 'contact_info': 345345}

In [47]:
d4["k1"] = "xyz"

In [48]:
d4

{'name': 'vijay', 'contact_info': 345345, 'k1': 'xyz'}

In [49]:
d4

{'name': 'vijay', 'contact_info': 345345, 'k1': 'xyz'}

In [50]:
d4["name1"] = "xyz"

In [51]:
d4

{'name': 'vijay', 'contact_info': 345345, 'k1': 'xyz', 'name1': 'xyz'}

In [52]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'vijay', 'no': 34324345}

In [53]:
d4["k2"] = d2

In [54]:
d4

{'name': 'vijay',
 'contact_info': 345345,
 'k1': 'xyz',
 'name1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'vijay', 'no': 34324345}}

In [55]:
d4["k2"]

{'key1': 'value', 234: 'xyz', 'name': 'vijay', 'no': 34324345}

In [56]:
d4["k2"]["no"]

34324345

In [57]:
d5 = {@:"sdfsd"}

SyntaxError: invalid syntax (2969738373.py, line 1)

In [58]:
d5 = {_ : "sdfsd"}

In [59]:
d5[_]

'sdfsd'

In [72]:
                                          #Tuple in Dictionary

In [60]:
d6 = {(1,2,3,4): "fsdfs"}

In [61]:
d6[(1,2,3,4)]

'fsdfs'

In [62]:
d7 = {[1,2,3,4] : "fasdfasfas"}

TypeError: unhashable type: 'list'

In [73]:
                                     #Dictionary itself a disctionary

In [63]:
d8 = {{3:4}: "fsdfs"}

TypeError: unhashable type: 'dict'

In [74]:
                  # Dictionay + Dictionay

In [64]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'vijay', 'no': 34324345}

In [65]:
d3

{'name': 'vijay',
 'tech': ['python', 'Ml', 'DL', 'NLP', 'CV', 'Bigdata', 'data anlytics']}

In [66]:
d2+d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [75]:
                      # * Extra "keys" from d2 *

In [67]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'vijay', 'no': 34324345}

In [68]:
d2.keys()

dict_keys(['key1', 234, 'name', 'no'])

In [ ]:
              # * Extra Values from d2 *

In [70]:
d2.values()

dict_values(['value', 'xyz', 'vijay', 34324345])

In [76]:
             # * Extra Items from d2 *

In [77]:
d2.items()

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'vijay'), ('no', 34324345)])

In [1]:
                                  # SET - Function #
    
#1.ADD

#2.Clear 

#3.Copy

#4.Difference

#5.Difference_update

#6.Discard

#7.Intersection

#8.Intersection_Update

#9.Isdisjoint

#10.Issubset

#11.Issuperset

#12.Pop

#13.Remove

#14.Symmetric_difference

#15.Symmetric_difference_update

#16.Union

#17.Update

In [2]:
s = {3,4,5,6,7,8}

In [3]:
type(s)

set

In [4]:
s1 = {3,4,4,5,6,6,7,7,8,8,9,9,0,0,0}

In [5]:
s1

{0, 3, 4, 5, 6, 7, 8, 9}

In [6]:
s2 = {3245,4545,6456,5645,675,6234,345}

In [7]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

In [8]:
s3 = {"vijay",324,34,12,645,12,5,"b","6"}

In [9]:
s3

{12, 324, 34, 5, '6', 645, 'b', 'vijay'}

In [10]:
s3[0]

TypeError: 'set' object is not subscriptable

In [11]:
list(s3)

[34, 324, 5, 645, '6', 12, 'b', 'vijay']

In [12]:
tuple(s3)

(34, 324, 5, 645, '6', 12, 'b', 'vijay')

In [13]:
l = [2,3,4,5656,7,6,7,77,77,7,77,7,7,7,7,7,7,7,7,7,7,7,7,7]

In [14]:
set(l)

{2, 3, 4, 6, 7, 77, 5656}

In [15]:
l = list(set(l))

In [16]:
l

[2, 3, 4, 6, 7, 77, 5656]

In [17]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

In [18]:
s2.add(34)

In [19]:
s2

{34, 345, 675, 3245, 4545, 5645, 6234, 6456}

In [20]:
s2.add([1,2,3,4,5])

TypeError: unhashable type: 'list'

In [24]:
s = {(1,2,3,4,5),3,4,45,65,6}

In [25]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6, 65}

In [31]:
                               # Difference between "Remove" & "Discard" Function
    
#1.Remove Function -  Remove an element from a set, it must be a member. If the element is not a memeber, raise a KeyError.

#2.Discard Function - Remove an element from a set, If it is a memeber.If the element is not a memeber do nothing.

In [26]:
s.remove(3)

In [27]:
s

{(1, 2, 3, 4, 5), 4, 45, 6, 65}

In [28]:
s.discard(4)

In [29]:
s

{(1, 2, 3, 4, 5), 45, 6, 65}