                                        #28-MAY-22

                                   5th Class - "Python"

                                         FOR LOOP

In [3]:
#1. No Code -

l = [1,2,3,4, "vijay","gurung",45.56]

In [5]:
l = [1,2,3,4, "vijay","gurung",45.56]
for i in l :
        print(i)

1
2
3
4
vijay
gurung
45.56

In [6]:
#2.  No Code -

l = [1,2,3,4, "vijay","gurung",45.56]
for i in l :
        print(l)

[1, 2, 3, 4, 'vijay', 'gurung', 45.56]
[1, 2, 3, 4, 'vijay', 'gurung', 45.56]
[1, 2, 3, 4, 'vijay', 'gurung', 45.56]
[1, 2, 3, 4, 'vijay', 'gurung', 45.56]
[1, 2, 3, 4, 'vijay', 'gurung', 45.56]
[1, 2, 3, 4, 'vijay', 'gurung', 45.56]
[1, 2, 3, 4, 'vijay', 'gurung', 45.56]

In [7]:
#3. No Code -

l = [1,2,3,4, "vijay","gurung",45.56]
for i in l :

IndentationError: expected an indented block (54498957.py, line 4)

In [8]:
#4. No Code - As a outcome its blank

l = [1,2,3,4, "vijay","gurung",45.56]
for i in l :
    pass

In [9]:
#5. No Code- 

v = "vijay"
for i in v :
    print(i)

v
i
j
a
y

In [10]:
#5. No Code- 

l = [1,2,3,4, "vijay","gurung",45.56]
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself then it will execute else")

1
2
3
4
vijay
gurung
45.56
if for loop is going to complete itself then it will execute else

In [11]:
#6. No Code- 

l = [1,2,3,4, "vijay","gurung",45.56]
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [12]:
#7. No Code - This code we have given "n" as a limitation,So it will check upto "n" letter and print upto there.

v = "vijaygurung"
for i in v :
    if i == "n" :
        break
    print(i)
else:
    print("print string",v)

v
i
j
a
y
g
u
r
u

In [14]:
#8 No Code - This code we can see that it executed entire sentences.Because we have used "Z". which is not exist in my "string".

# Here I have not given any stop point so it printed entire "string" or sentences.

v = "vijaygurung"
for i in v :
    if i == "z" :
        break
    print(i)
else :
    print("print string", v)

v
i
j
a
y
g
u
r
u
n
g
print string vijaygurung

In [15]:
# 9 No Code :

t = (4,5,6,7,8,6,"vijay")
for i in t :
    print(i)

4
5
6
7
8
6
vijay

In [16]:
                      # Difference between "Tuples" & "List" 
    
# "Tuples" are Immutable or Immutability" & 

# "List" are Mutable or Mutability object.


# Note :- Difference between "Immutable" & "Mutable"

# Mutability is a phenomenon where if i will be able to change something in a particular indexes of a collection.
                       # If I would not able to do it in that case it is called as Immutability object.
    
    
# Extraction of Dataset is possible for all those below mention.

# 1."String" 2."List" 3. "Tuples" 4. "Set" 5. "Dictionary"

In [17]:
                                       # Set
    
#10 No Code - It removed the duplicated value.

b = {4,5,6,7,7,7,7,7,7,7,8, "vijay"}

In [18]:
type(b)

set

In [20]:
b = {4,5,6,7,7,7,7,7,7,7,8, "vijay"}

In [21]:
b

{4, 5, 6, 7, 8, 'vijay'}

In [23]:
#11 No Code :

b = {4,5,6,7,8,"vijay"}
for i in b :
    print(i)

4
5
6
7
8
vijay

In [2]:
#12 No code :

d = {"key1" : "vijay", "Contact": "vijaygurung555@gmail.com","position": "xyz"}
for i in d :
    print(i)

key1
Contact
position

In [3]:
#13 No Code :

d = {"key1" : "vijay", "Contact": "vijaygurung555@gmail.com","position": "xyz"}
for i in d :
    print(d[i])

vijay
vijaygurung555@gmail.com
xyz

In [4]:
#14 No Code :

d = {"key1" : "vijay", "Contact": "vijaygurung555@gmail.com","position": "xyz"}
for i in d :
    print(i,":",d[i])

key1 : vijay
Contact : vijaygurung555@gmail.com
position : xyz

In [46]:
# 15 No Code :

range(9)

range(0, 9)

In [7]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
for i in range(9) :
    print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
                                 # "RANGE"
# Range - Range is nothing but, range  is a kind of a function which is been used to produce a dataset 
#at any point of a time.

In [11]:
range(0,9)

range(0, 9)

In [12]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
list(range(0,9,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
list(range(0,9,-1))

[]

In [16]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
#16 No Code :-

n = 4 
for i in range(4) :
    for j in range (0, i+1) :
        print("vijay",end=" ")
    print("\n")

vijay

vijay vijay

vijay vijay vijay

vijay vijay vijay vijay

In [2]:
# No Code :-

n = 4 
for i in range(4) :
    for j in range (0, i+1) :
        print("vijay",end="   ")
    print("\n")

vijay

vijay   vijay

vijay   vijay   vijay

vijay   vijay   vijay   vijay

In [5]:
# No Code :-

n = 4 
for i in range(4) :
    for j in range (0, i+1) :
        print("vijay",end="")
    print("\n")

vijay

vijayvijay

vijayvijayvijay

vijayvijayvijayvijay

In [6]:
#17 No Code :-

n = 3 
for i in range(4) :
    for j in range (i, n-1) :
        print(" " * len("vijay"),end=" ")
    for j in range(i+1):
        print("vijay",end=" ")
    for j in range(i):
        print("vijay",end=" ")
    print()

            vijay
      vijay vijay vijay
vijay vijay vijay vijay vijay
vijay vijay vijay vijay vijay vijay vijay

In [8]:
#18 No code :-

t = (3,23,45,67,2,4,5,6)

In [9]:
t = (3,23,45,67,2,4,5,6)

In [10]:
len(t)

8

In [11]:
range(len(t))
range(0,8)

range(0, 8)

In [12]:
#19 No Code - If i am going to convert these things into "List"

list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [14]:
#20 No Code :

#Try to print its respective indexes as well.

#How it internally works - In the very 1st iterator, 

# the value of i = 0 ,2nd iterator value of i = 1, 3rd interator value of i = 2 these way it goes upto 7.

for i in range(len(t)) :
    print(i)

0
1
2
3
4
5
6
7

In [16]:
#21 No Code :

# In upper code, we can see It will be able to give us a "indexes" (0 to 7) 

# But now along with that, I have to extract element.As a outcome we can see that I am able to get an indexes as well as
# respectve element.

for i in range(len(t)) :
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [17]:
#22 No Code :

v = "ineuron"

In [18]:
range(len(v))

range(0, 7)

In [19]:
#23 No code :

for i in range(len(v)):
    print(i)

0
1
2
3
4
5
6

In [21]:
# 24 No Code :

#Index = 0,1,2,3,4,5,6 & Element =  i,n,e,u,r,o,n

for i in range(len(v)) :
    print(i, v[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [22]:
#25 No Code :

# Here, Upper code same thing Index & Element outcome wanted to print,But this time into a reverse format.

# Before that lets try understand others pratise code.


list(range(len(v)))

[0, 1, 2, 3, 4, 5, 6]

In [31]:
list(range(len(v),0))

[]

In [32]:
#26 No Code:

# Let suppose if we use (-1) over here,as outcome we can see we are missed out (0), I am suppose to produce "0" as well.
# I have given these upper bound "0" this is only region it is tryig to excluding "0" zero.

list(range(len(v),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [35]:
# 27 No Code :

# Here I have replace 0 zero with -1 as a upper bound, In these case as a outcome it will going to produce "0" zero also.
# In a reverse order.

list(range(len(v),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [36]:
# 28 No code :

# But outcome is ok, But if we check that my real total index which is available inside "INEURON".

# Can we say that we do not have index starting from (0, 7), It actually our index is (0, 6)

# We have produce these [7, 6, 5, 4, 3, 2, 1, 0] which is not correct.

In [38]:
# 29 No Code :

#lets produce correct one ( 0, 6 ), which is reversed order (6, 0)

# As a outcome we got a correct one produce (6, 0).Now I am able to produce reversed order (0, 6)

list(range(len(v)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [39]:
#30 No Code :-

# As a outcome we can see we are ablr to print all index in a reversed direction.

for i in range(len(v)-1,-1,-1) :
    print(i)

6
5
4
3
2
1
0

In [41]:
# 31 No code:-

# If I want to see Index as well as value or character then, if I will add these line code v[i], then we can see both
# Index as well as Value or character.

for i in range(len(v)-1,-1,-1) :
    print(i, v[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [5]:
# 32 No code ;-

d

{'key1': 'vijay', 'Contact': 'vijaygurung555@gmail.com', 'position': 'xyz'}

In [6]:
d.items()

dict_items([('key1', 'vijay'), ('Contact', 'vijaygurung555@gmail.com'), ('position', 'xyz')])

In [7]:
# 33 No code :-

# As a outcome "key" & "Value" pairs in the form of "Tuples"

for i in d.items() :
    print(i)

('key1', 'vijay')
('Contact', 'vijaygurung555@gmail.com')
('position', 'xyz')

In [8]:
# 34 No Code :

# If along with "key" & "Value" I would like to print its (data type ) for all others also. "key" & "Value" data type, I want to
# print i can print that one, as we can see "Tuples form" bydefault it will print as a outcome in "Tuples".

for i in d.items() :
    print(i, type(i))

('key1', 'vijay') <class 'tuple'>
('Contact', 'vijaygurung555@gmail.com') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [10]:
# 35 No code :

# "key" & "Value" sepearted !


for i in d.items() :
    print(i, type(i), type(i[1]))

('key1', 'vijay') <class 'tuple'> <class 'str'>
('Contact', 'vijaygurung555@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [13]:
# 36 No Code :-

#Question :-  My problem statement is that here is a "List" inside these "list" we have a (vijay & gurung) string (str) &

#We have a numbers ( 3234545, 345 & 34345353). I want to create a seperate "list" where, I am just looking for a numbers only
# not others. Just wanted to filter out just a number out of these "list".

#Here we have extracted only integer or we can say Numbers.

v = ["vijay","gurung",3234545,"vijaygurung555@gmail.com",345,34345353]

In [14]:
v1 = []
for i in v :
    if type(i) == int :
        v1.append(i)

In [15]:
v1

[3234545, 345, 34345353]

In [21]:
# 37 No Code :-

d = {1:3345345,"name":"vijay","email_id":"vijaygurung555@gmail.com",234:"fsfddsf",43:"sfsaf",234:"3454"}

In [22]:
for i in d :
    print(i)

1
name
email_id
234
43

In [25]:
# 38 No Code :-

# We have dictionary which we have created, where we can see key & values pairs.

# My problem statement is that, I am expecting out of these dictionary, I am expecting all the values or a pair, key value 
# where Key must be numeric one.

for i in d :
    if type(i) == int :
        print(i,":", d[i])

1 : 3345345
234 : 3454
43 : sfsaf

In [32]:
# 39 No Code :-

v = "aaaabbccd"

In [33]:
set(v)

{'a', 'b', 'c', 'd'}

In [54]:
# 40 No Code :-

v = "aaaabbccd"

In [56]:
for i in set(v):
    print(i)

a
c
b
d

In [57]:
v.count('a')

4

In [58]:
# 41 No Code :-

v = "aaaabbccd"

In [59]:
for i in set(v) :
    print(i, ":", v.count(i))

a : 4
c : 2
b : 2
d : 1

In [60]:
# 42 No Code :-  As a outcome Error.

# My problem statement is that, I have a "i" which available over here,34534654646435 then one by one, I have to extract the 
# integer individual integer, which is available inside my "i".

i = 34534654646435
for j in i :
    print(j)

TypeError: 'int' object is not iterable

In [61]:
# 43 No Code :-  Upper code was Error.Now by type casting we can run the code.

# Here we see there is a wayy by which we will be able to find out that which object is iterable object & which object is not
# a iterable object.But still I have to print out each & every integer out of these whole integer which is given to me.

# For these I have to do a "Type Casting", Now Below we can see the outcome in the form of String(str)


str(i)

'34534654646435'

In [62]:
# 44 No Code :-  

# we can see outcome was in the String(str) form, Now I will be able to extract a dataset one by one out of these entire
#string(str) that is preety much possible. As a outcome we can even check (type "j") is going to be string(str)

i = 34534654646435
for j in str(i) :
    print(j, type(j))

3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
3 <class 'str'>
4 <class 'str'>
6 <class 'str'>
5 <class 'str'>
4 <class 'str'>
6 <class 'str'>
4 <class 'str'>
6 <class 'str'>
4 <class 'str'>
3 <class 'str'>
5 <class 'str'>

In [63]:
# 45 No Code :-  Here in this code i was expecting each & everything in a int(integer) format.

#So here I am trying to apply "Type Casting Operation".Now I can convert it back with integer (Int).

# This way I am able to extract data one by one from integer object.I am not able to extract the data as a individual

#Integer(int) out of these one. Because, int object is not a iterable object at all.

i = 34534654646435
for j in str(i) :
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [1]:
# 46 No Code :-

t = ("vijay","gurung",[1,2,3,4,5],(3,4,5,6),{"key1":"vijay","key2":"gurung"})

In [2]:
for i in t :
    print(i)

vijay
gurung
[1, 2, 3, 4, 5]
(3, 4, 5, 6)
{'key1': 'vijay', 'key2': 'gurung'}

In [3]:
# 47 No Code : Continue code :-

# Problem statement :-

#Through these entire "Tuple" we have to extract [3] wherever we have [3] whether it is inside "Tuples" or inside "List"

# or inside "Tuples of Tuples" we have to extract [3] out of these one.

for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)

3
3

In [7]:
# 48 No Code :-

t = ("vijay","gurung",[1,2,3,4,5],(3,4,5,6),{3:"vijay","key2":"gurung"})

In [8]:
# Here i have made a chnages in 2 area one is "key1" replace by "3"  & another is I have added ==dict :

#So as outcome we can see we are geeting another 3 added.

# So, bydefault we aware about fact that it is going to iterate over towards keys.

# Keys   Values

# 3      "vijay"
#"key2"   "gurung"


for i in t :
    if type(i) == list or type(i) == tuple or type(i) == dict :
        for j in i :
            if j == 3 :
                print(j)

3
3
3

In [12]:
# 49 No Code :-

t = ("vijay","gurung",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"gurung"})

In [13]:
# if i want to update entire dictionary then write this code.

#For that we have to write seperate "If" statement.

#The entire code only handle "List" & "Tuples" Parts.

for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        print(i)

3
3
{3: 3, 'key2': 'gurung'}

In [2]:
# 50 No Code :-

# Above all code is ok but my problem statement was different.

# Now below code my expecation was to extract both 3. 

# For that we can write this line of statement 

# for k in i.items() :
#     print(k)

# This time we have taken "K" as a different variable. "i.items()" - "i" will become dictionary over here.


t = ("vijay","gurung",[1,2,3,4,5],(3,4,5,6),{3:3,"key2":"gurung"})

In [3]:
# (3,3) this is the tuples which I am able to extract in a easiest way.

# As we know ( i.items() or dictionary.items()) is going to throught 2 elements one is key another is value.

# (3, 3)

# key Value
 


for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k in i.items() :
            print(k)

3
3
(3, 3)
('key2', 'gurung')

In [4]:
 # 51 No Code :-
    
# In this code I am expecting to have 4 times total [3] as a outcome, this is how we keep adding code to top of the existing
#code.
     
    
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v in i.items() :
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [6]:
 # 52 No Code :-
    
d = {4:5, "key1" : "vijay", "key2": "gurung"}

In [7]:
for i in d.items() :
    print(i)

(4, 5)
('key1', 'vijay')
('key2', 'gurung')

In [8]:
# 53 No Code :

#d.items() what this going to return, it will return a "list" of the "Tuples". "Tuples" having key & value pairs.

d.items()

dict_items([(4, 5), ('key1', 'vijay'), ('key2', 'gurung')])

In [9]:
# 54 No Code :

for i, j in d.items():
    print(i)

4
key1
key2

In [10]:
# 55 No code :

# Below line code both ways correct to write.This is how we declear the variable at any point of time.

a =  10 
b =  20
c =  30

In [11]:
a,b,c = 10,20,30

In [12]:
n = 4
for i in range(1, n + 1):
    print("ineuron " * i)

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron